body {
    background-color: rgb(229, 223, 223);
    color: white; 
    width: 100%;
    position: relative;
    font-family: lato, sans-serif;
    margin: 0;
    padding: 0;
}

.header-img{
    width: 100%;
    position: inherit;
}

.header-img-cont {
    width: 100%;
}

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    font-weight: lighter;
    gap: 2em;
    padding-inline-start: 2em;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-inline-end: 2em;
}

.logo {
    height: 10px;
    object-fit:cover;
}

a {
    all: unset;
    color: white;
    cursor: pointer;
}

.bigheadertext {
    position: absolute;
    top: 50%;
    left: calc(50% - 280px);
    font-size: 90px;
}